EtSite/Service References/musterikayit/newapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="musterikayit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="musterikodu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="musterisifre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sehir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ceptel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="istelefonu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yetkiliadsoyad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsgonder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="musterikayitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="musterikayitResult" type="tns:Musterikayitcevap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Musterikayitcevap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="musteriid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mesaj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hata" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="musterikayitSoapIn">
    <wsdl:part name="parameters" element="tns:musterikayit" />
  </wsdl:message>
  <wsdl:message name="musterikayitSoapOut">
    <wsdl:part name="parameters" element="tns:musterikayitResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="musterikayit">
      <wsdl:input message="tns:musterikayitSoapIn" />
      <wsdl:output message="tns:musterikayitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="musterikayit">
      <soap:operation soapAction="http://tempuri.org/musterikayit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="musterikayit">
      <soap12:operation soapAction="http://tempuri.org/musterikayit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://api.egetoplusms.net/newapi.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://api.egetoplusms.net/newapi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>